{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<style>
   
    .Section_top {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        animation: change 30s infinite ease-in-out;
    }
    .formbg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
 
    
    
      .container{
        background-image: linear-gradient( 200.8deg,  rgba(62,5,116,1) -5.2%, rgba(41,14,151,1) -5.2%, rgba(216,68,148,1) 103.3% );
        padding: 20px; /* Add some padding */
        color:white;
        border-radius: 10px; 
      }
      
</style>
<div class="Section_top">
    <div class="container my-5">
        
        <div class="row">
        <h3 class="forms">Welcome {{request.user.username |capfirst}}</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="#" class="btn btn-primary">Change Password</a></li> 
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1">
                <form name="myForm" action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors | striptags}}</small>
                {% endfor %}
                <br>
                    <button type="submit" class="btn btn-primary">Submit</button>

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}