
{% extends 'app/base.html' %} {% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<style>
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        font-family: sans-serif;
    }
    .Section_top {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        animation: change 30s infinite ease-in-out;
    }
    .formbg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
    @keyframes change {
        0% {
            background-image: url('{% static "app/images/bg/bg1.jpg" %}');
        }
        20% {
            background-image: url('{% static "app/images/bg/bg2.jpg" %}');
        }
        40% {
            background-image: url('{% static "app/images/bg/bg3.jpg" %}');
        }
        60% {
            background-image: url('{% static "app/images/bg/bg4.jpg" %}');
        }
        80% {
            background-image: url('{% static "app/images/bg/bg.jpg" %}');
        }
        100% {
            background-image: url('{% static "app/images/bg/bg5.webp" %}');
        }
    }
    
</style>
<div class="Section_top">
    <div class="formbg">      
        <form name="myForm">
            <h3 class="forms">Well Done !</h3><br>
            <p class="forms2"style="color: #fff;">An Email has been send with instruction<br> to reset your password </b></p>
        </form>    
    </div>
</div>
{% endblock main-content %}