{% extends "app/base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5 background-image3">
      <!-- Background Waves -->
    <div class="wave -one"></div>
    <div class="wave -two"></div>

    <!-- Content Container -->
    <div class="container-content">
       
        <div class="col-sm-8 offset-sm-2">
            <form name="myForm" action="" method="post" novalidate >
                <h3 class="forms2"> Update a Address</h3><br>
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small> <br>
                {% endfor %}
                <div class="col-12 mt-3" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="{% url 'address' %}" type='button' class='btn btn-danger'>Back</a>
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </form>
            <br><br><br>
        </div>
    </div>
</div>
{% endblock main-content %}