
{% extends "app/base.html" %}
{% load static %}
{% block title %}Wishlists{% endblock %}

{% block main-content %}

<style>
    html, body {
        height: 100%;
        margin: 0;
         background:transparent;
    }

    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
        bottom: 0;
        left: -50%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }

    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    .bg3 {
        animation-duration: 5s;
    }

    .container {
        background-color: rgba(0, 174, 255, 0.407);
        border-radius: 20px;
        box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
        padding: 20px;
        margin-top: 5vmin;
        text-align: center;
        position: relative;
    }

    h1 {
        font-size: 2em;
        color: #fff;
    }

    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }
        100% {
            transform: translateX(25%);
        }
    }

    .card-title, .card-text {
        color: #333;
    }
</style>


<!-- Background Animation -->
<div class="bg bg1"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<!-- Content Container -->
<div class="container background-image1">
    <h1>Wishlists</h1>
    <hr class="white-hr">
    
    {% if wishitem %}
    <div class="row">
        {% for item in wishlist_items %}
        <div class="col-md-5 mb-4">
            <div class="card shadow">
                {% if item.product.is_veg == 'Veg' %}
                    <span class="bg-white veg-icon position-absolute top-0 start-0 mt-2 ms-2">
                        <svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 -960 960 960" width="34px" fill="green">
                            <path d="M120-120v-720h720v720H120Zm80-80h560v-560H200v560Zm280-120q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Z"/>
                        </svg>                    
                    </span>
                {% else %}
                    <span class="bg-white veg-icon position-absolute top-0 start-0 mt-2 ms-2">
                        <svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 -960 960 960" width="34px" fill="red">
                            <path d="M120-120v-720h720v720H120Zm80-80h560v-560H200v560Zm280-120q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Z"/>
                        </svg>                    
                    </span>
                {% endif %}
                <img src="{{ item.product.product_image.url }}" class="card-img-top" alt="{{ item.product.title }}">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ item.product.title }}</h5>
                    <h5>
                        <span style='color:red;' class="text-decoration-line-through">Rs. {{ item.product.selling_price }} /-</span>&nbsp;
                        <span class="card-text" style='color:green;'>Rs. {{ item.product.discount_price }} /-</span>
                    </h5>
                    <div class="product-actions">
                        <a href="{% url 'product-detail' item.product.id %}" class="view-btn btn btn-warning flex-fill">View</a>
                        {% if user.is_authenticated %}
                            {% if item.product.id in cart_items %}
                                <button class="add-to-cart-btn btn btn-success flex-fill" data-product-id="{{ item.product.id }}">
                                    Added&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-check"></i>
                                </button>
                            {% else %}
                                <button class="add-to-cart-btn btn btn-primary flex-fill" data-product-id="{{ item.product.id }}">
                                    Add To Cart&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-cart-shopping"></i>
                                </button>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-secondary flex-fill" disabled>
                                Login&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user"></i>
                            </button>
                        {% endif %}
                        <a pid="{{ item.product.id }}" class="minus-wishlist ms-4 flex-fill">
                            <i class="fas fa-heart fa-3x heart-icon add" style="color: red;"></i>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h1 class="text-center mb-5" style="color:#fff; font-size:50px;">Wishlist is Empty</h1>
        <div class="text-center">
            <a href="{% url 'all_products' %}" onclick="updateCategoryTitle('All Products');" class="lottie-container">
                <iframe src="https://lottie.host/embed/bcfdce4f-05bc-4bb4-9d2f-a199996d3765/pghIuZ8ME4.json" class='lottie-animation'></iframe>    
                <h1 class="text-center mb-5 empty-cart-title">Add Products in Wishlist</h1>
            </a>
            <hr class="white-hr">
        </div>
    {% endif %}
</div>

</div>

<div class="container my-5 background-image">
    <h1 >Recently Viewed Products</h1>
    <hr class="white-hr">
    <div class="row ">        
        <div class="col-sm-12">
            <div class="scroll-container">
                <div class="d-flex flex-row overflow-auto">
                    {% for item in recently_viewed %}
                    <div class="card h-100 p-2 m-2" style="min-width: 200px;">
                        {% if item.Product.is_veg == 'Veg' %}
                                <span class="bg-white veg-icon position-absolute top-0 start-0 mt-2 ms-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 -960 960 960" width="34px" fill="green">
                                        <path d="M120-120v-720h720v720H120Zm80-80h560v-560H200v560Zm280-120q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Z"/>
                                    </svg>                    
                                </span>
                            {% else %}
                                <span class="bg-white veg-icon position-absolute top-0 start-0 mt-2 ms-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 -960 960 960" width="34px" fill="red">
                                        <path d="M120-120v-720h720v720H120Zm80-80h560v-560H200v560Zm280-120q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Z"/>
                                    </svg>                    
                                </span>
                            {% endif %}
                        <img src="{{ item.Product.product_image.url }}" class="card-img-top img-fluid" alt="{{ item.product.title }}" style="object-fit: cover; width:200px; height: 200px;">
                        <div class="card-body">
                            <h5 class="fw-bold">{{ item.Product.title }}</h5>
                            <h6>
                                <span style='color:red;' class="text-decoration-line-through">Rs. {{ item.Product.selling_price }} /-</span> &nbsp;
                                <span style='color:green;'>Rs. {{ item.Product.discount_price }} /-</span>
                            </h6>
                            <div class="product-actions">
                                <a href="{% url 'product-detail' item.Product.id %}" class="view-btn btn btn-warning">View</a>
                                {% if item.Product.id in cart_items %}
                                    <button class="add-to-cart-btn btn btn-success" data-product-id="{{ item.Product.id }}">
                                        Added&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-check"></i>
                                    </button>
                                {% else %}
                                    <button class="add-to-cart-btn btn btn-primary" data-product-id="{{ item.Product.id }}">
                                        Cart&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-cart-shopping"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .view-btn {
        background-color: #ffc107; /* Original color */
        transition: all 0.3s ease;
    }
    
    .view-btn:hover {
        background-color: #ff9800; /* Darker shade on hover */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px); /* Slight lift effect */
    }
    .scroll-container {
        white-space: nowrap;
        overflow-x: auto;
        padding-bottom: 10px;
    }
    
    .scroll-container::-webkit-scrollbar {
        display: none;
    }
    .scroll-container::-webkit-scrollbar-thumb {
        background-color: #red;
        border-radius: 10px;
    }
</style>

<style>
    .add-to-cart-btn {
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    
    .add-to-cart-btn:hover {
        transform: translateY(-5px); /* Slight lift on hover */
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
    }
    
    .add-to-cart-btn i {
        transition: transform 0.3s ease-in-out;
    }
    
    .add-to-cart-btn:hover i {
        transform: scale(1.2); /* Enlarge the icon slightly on hover */
    }
    .product-actions {
        display: flex;
        gap: 10px; /* Adjusts space between buttons */
    }

    .product-actions .btn {
        flex: 1; /* Allows buttons to take equal space */
        white-space: nowrap; /* Keeps text on one line */
    }
</style>
{% endblock %}
